<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem esse, doloremque velit in repudiandae adipisci voluptate accusantium nam impedit quaerat omnis iusto provident at facere nulla accusamus fugit fugiat quis aspernatur. Sint a magnam amet vel laudantium eligendi. Consectetur?</p>
  </div>
</div>