<div class="jumbotron mt-4">
  <h1 class="display-4">Node App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolor, accusamus reiciendis sequi inventore quisquam repellendus non fuga distinctio id perspiciatis voluptates tenetur, quod quia magnam similique repudiandae rerum beatae.</p>
  <a href="https://www.angelvlqz.com/" class="btn btn-primary btn-lg">Control IoT </a>
</div>